* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

h1 {
  font-size: 3rem;
}
.top-p {
  font-size: 1.4rem;
}

.main-container {
  text-align: center;
}

.coin-1 {
  width: 50%;
  margin: auto;
  position: relative;
  outline: 2px dashed red;
  text-align: center;
}
.left-button {
  position: absolute;
  bottom: 48%;
  left: 0;
}
.right-button {
  position: absolute;
  bottom: 48%;
  right: 0;
}

img {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .coin-1 {
    width: 68%;
  }
}
@media screen and (max-width: 768px) {
  .coin-1 {
    width: 80%;
  }
}
