* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

h1 {
  font-size: 3rem;
}
.top-p {
  font-size: 1.4rem;
}

.main-container {
}

.coin {
  width: 50%;
  min-height: ;
  margin: auto;
  position: relative;
  outline: 2px dashed red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.left-button {
  width: 80px;
  position: absolute;
  bottom: 48%;
  left: -90px;
}
.right-button {
  width: 80px;
  position: absolute;
  bottom: 48%;
  right: -90px;
}

img {
  width: 48%;
}

@media screen and (max-width: 992px) {
  .coin {
    width: 68%;
  }
}
@media screen and (max-width: 768px) {
  .coin {
    width: 80%;
  }
}
